{
    "extends": ["plugin:astro/recommended"],
    "overrides": [
        {
            "files": ["*.astro"],
            "parser": "@astrojs/eslint-plugin-astro/parser",
            "parserOptions": {
                "parser": "@typescript-eslint/parser",
                "extraFileExtensions": [".astro"]
            }
        }
    ]
}
