@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: 100, 160, 200;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #62dac2 30%, white 60%);
}

html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
}

@font-face {
    font-family: 'shin-go';
    src: url('/font/ShinGoPro-Regular.woff2');
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Container */
    .container {
        max-width: 40rem;
    }
}

@layer base {
    body {
        height: 100dvh;
        font-family: 'shin-go', sans-serif;
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
}
