---
import list from '@/assets/icons.json';
import Icon from '@/components/Icon.astro';

type Icon = {
    image: string;
    title: string;
};

type Icons = {
    [key: string]: Icon[];
};

const images = await import.meta.glob('/src/assets/icons/*.svg', { as: 'raw' });

async function forEachIcon(callback: (icon: Icon) => Element) {
    const iconsList: Icons = list;

    const categoryKeys = Object.keys(iconsList);
    const categories = categoryKeys.map((key) => iconsList[key]);

    for await (const category of categories) {
        for await (const icon of category) {
            try {
                icon.image = await images[icon.image]()
            } catch {}
        }
    }

    return categories.map((category) => category.map(callback));
}

---

<div class="icon-list p-1 rounded-lg bg-no-repeat hover:bg-accent-gradient hover:bg-400%">
    <div class="p-4 overflow-x-auto no-scrollbar cursor-default bg-black rounded-md shadow-md">
        <ul class="flex gap-4">
            { forEachIcon((icon) => (<Icon image={icon.image} title={icon.title} />)) }
        </ul>
    </div>
</div>

<style>
@keyframes pulse-in {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 400%;
    }
}

.icon-list:hover {
    animation: pulse-in 0.5s ease-in-out;
}
</style>
