---
type Icon = {
	image: string;
	title: string;
}

interface Props extends Icon {}

const { image, title } = Astro.props

---

<li class="flex items-center min-w-max h-12 last-of-type:pr-4 [&>svg]:w-12 [&>svg]:h-12">
	<Fragment set:html={image} />
	<p class="ml-2 cursor-text text-white">{title}</p>
</li>
