---
import list from '@/assets/icon-list.json';

type Icon = {
    image: string;
    title: string;
};

type Icons = {
    [key: string]: Icon[];
};

function forEachIcon(callback: (icon: Icon) => Element) {
    const iconsList: Icons = list;

    const categoryKeys = Object.keys(iconsList);
    const categories = categoryKeys.map((key) => iconsList[key]);

    return categories.map((category) => category.map(callback));
}
---

<div class="icon-list-wrapper my-2">
    <div class="p-4 overflow-auto no-scrollbar cursor-default icon-list">
        <ul class="flex gap-4">
            {
                forEachIcon((icon) => {
                    return (
                        <li class="flex items-center min-w-max h-12 last-of-type:pr-4">
                            <img class="h-12" src={icon.image} alt={icon.title} />
                            <p class="ml-2 cursor-text">{icon.title}</p>
                        </li>
                    );
                })
            }
        </ul>
    </div>
</div>

<style>
    .icon-list-wrapper {
        padding: 0.25rem;
        border-radius: 0.6rem;
        background-size: 0%;
        background-repeat: no-repeat;
    }

    .icon-list-wrapper:hover {
        background-image: var(--accent-gradient);
        animation: pulse-in 0.5s ease-in-out;
        animation-play-state: running;
        background-size: 400%;
    }

    @keyframes pulse-in {
        0% {
            background-size: 0%;
        }
        100% {
            background-size: 400%;
        }
    }

    @keyframes pulse-out {
        0% {
            background-size: 400%;
        }
        100% {
            background-size: 0%;
        }
    }

    .icon-list {
        background-color: white;
        border-radius: calc(0.6rem - 0.25rem);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }
</style>
