---
import '@/styles/main.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/webp" href="/favicon.webp" />
	<meta name="generator" content={ Astro.generator } />
	<script>import '@/plugins/webgl-background'</script>
	<title>{ title }</title>
    </head>

    <body class="flex flex-col">
	<slot />

	<footer class="container mx-auto mt-auto p-6 mix-blend-difference">
	    <p class="text-gray-300 text-center">Copyright © 2023 - Sushy</p>
	</footer>
	<canvas id="background"></canvas>
    </body>

    <style>
    canvas {
	background: rgb(18,82,203);
	background: linear-gradient(180deg,rgb(0 8 22) 0%,rgb(0 11 35) 28%,rgb(26 116 177) 100%);
    }
    </style>
</html>
