---
import '@/styles/main.scss';

export interface Props {
	title: string;
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col">
		<slot />
		<footer class="container mx-auto mt-auto p-6">
			<!-- copyright -->
			<p>Copyright © 2023 - All right reserved by Sniels Rolleman</p>
		</footer>
	</body>
</html>
<style lang="scss" is:global>
	:root {
		--accent: 100, 160, 200;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #62dac2 30%, white 60%);
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}

	body {
		height: 100dvh;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	footer {
		p {
			text-align: center;
			color: hsl(0, 0%, 60%);
		}
	}
</style>
